body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	background-image: url(fondo.jpg);
}

.container {
	max-width: 500px;
	margin: 0 auto;
	padding: 20px;
	background-color: #97cad9;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
}

label {
	margin-top: 10px;
	margin-bottom: 5px;
}

input {
	padding: 5px;
	border: none;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(123, 28, 28, 0.2);
}

button {
	margin-top: 10px;
	padding: 5px;
	border: none;
	border-radius: 5px;
	background-color: #3616c3;
	color: #fff;
	cursor: pointer;
}

#resultados {
	margin-top: 20px;
	padding: 10px;
	background-color: #afd8e4;
	border-radius: 5px;
}
footer{
        
	color: rgb(4, 46, 145);
	text-align: center;
	height: 50px;
	line-height: 50px;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-weight: normal;
  }

